<template>
    <lightning-quick-action-panel header="Select Files to Move">
        <table class="slds-table slds-max-medium-table_stacked form-table vertical-align_baseline ">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="slds-size--8-of-12" scope="col">File Name</th>
                    <th class="slds-size--2-of-12" scope="col">Preview</th>
                    <th class="slds-size--2-of-12" scope="col">Verify</th>
                </tr>
            </thead>
            <tbody>
                <template for:each={filesInSource} for:item='item' for:index="ind">
                    <tr key={item.Id}>
                        <td class="slds-cell-wrap">

                            <lightning-input key={item.Id} type="checkbox" name="input1" label={item.Title}
                                checked={item.checked} onchange={handleSelectedCheckbox} data-index={ind}>
                            </lightning-input>
                        </td>
                        <td class="slds-cell-wrap">

                            <button key={item.Id} class="slds-button slds-button_brand"
                                onclick={handlepreviewFileAction} data-cdid={item.ContentDocumentId}>Preview</button>
                        </td>
                        <td class="slds-cell-wrap">
                            <button key={item.Id} class="slds-button slds-button_brand" disabled={item.isVerified}
                                onclick={handleVerifyButtonAction} data-cdid2={item.ContentDocumentId}>Verify</button>


                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <br>
        <div class='modal-footer slds-modal__footer '>
            <lightning-button variant="brand" label="Move" title="Primary action" onclick={handleMoveSelectedFiles}
                class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="destructive" label="Cancel" title="Destructive action" onclick={HideModalPopup}
                class="slds-m-left_x-small"></lightning-button>

        </div>


        <template if:true={verificationModal}>
            <lightning-card if:true={verificationModal}>
                <div class="slds-container_small slds-gutters">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirmation
                                </h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <p>Are You Sure You Want to Verify?</p>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button variant="neutral" name="Yes" label="Yes" title={cancelLabel}
                                    onclick={handleVerify}></lightning-button>
                                <lightning-button variant="brand" name="No" label="No" title={confirmLabel}
                                    onclick={handleDontVerify}></lightning-button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
            </lightning-card>
        </template>

    </lightning-quick-action-panel>

</template>